Repository bichdieu1011/todo-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-build-deploy-web-frontend.yml

azure-pipelines-buid-deploy-web-api.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - master
  paths:
    exclude:
      - TodoApp.WebApp/Client
      - Terraform
      - Script
      - azure-pipelines-build-deploy-web-frontend.yml

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task : PublishBuildArtifacts@1
  inputs:
    TargetPath: '$(System.DefaultWorkingDirectory)/WebApp.zip'
  
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Azure subscription 1(1)(07a7605b-7bbb-42c8-af6d-462e6c8c5e39)'
    appType: 'webApp'
    appName: 'demotdapp-be'
    package: '$(Pipeline.Workspace)/drop/**/WebApp.zip'
    deploymentMethod: 'auto'

azure-pipelines-build-deploy-web-frontend.yml:

name: Azure Static Web Apps CI/CD

pr:
  branches:
    include:
      - master
trigger:
  branches:
    include:
      - master
  paths:
    include:
      - TodoApp.WebApp/Client
      - azure-pipelines-build-deploy-web-frontend.yml

jobs:
- job: build_and_deploy_job
  displayName: Build and Deploy Job
  condition: or(eq(variables['Build.Reason'], 'Manual'),or(eq(variables['Build.Reason'], 'PullRequest'),eq(variables['Build.Reason'], 'IndividualCI')))
  pool:
    vmImage: ubuntu-latest
  variables:
  - group: Azure-Static-Web-Apps-kind-field-08e5a8a10-variable-group
  steps:
  
  - checkout: self
    submodules: true
  - task: NodeAndNpmTool@1
    inputs:
     versionSpec: 18.x

  - task: Npm@1
    name: Run_Npm_Install
    inputs:
     command: 'install'
     workingDir: 'TodoApp.WebApp/Client'
  
  - task: Bash@3
    inputs:
      script: ng build
      
      

  - task: Npm@0
    name: buildAngularWebPackage
    inputs:  
      command: run buid
      arguments: --configuration=production --baseUrl=$(TD_BASE_URL)
    env:
      baseUrl: $(TD_BASE_URL)
      
  - task: PublishBuildArtifacts@1

Update azure-pipelines-build-deploy-web-frontend.yml for Azure Pipelines
  azure-pipelines-build-deploy-web-frontend.yml
Due: azure-pipelines-build-deploy-web-frontend.yml

Set up CI with Azure Pipelines terraform
  azure-pipelines-for-terraform.yml
Due: azure-pipelines-buid-deploy-web-api.yml

update configuration
  Terraform/environment/stage.tfvars
Due: none

Update azure-pipelines-for-terraform.yml for Azure Pipelines
  azure-pipelines-for-terraform.yml
Due: azure-pipelines-buid-deploy-web-api.yml

Update azure-pipelines-buid-deploy-web-api.yml for Azure Pipelines
  azure-pipelines-buid-deploy-web-api.yml
Due: azure-pipelines-buid-deploy-web-api.yml

commit file main.tf for database
  Terraform/modules/database/main.tf
Due: none

fix bug Terraform/main.tf
  Terraform/main.tf
  Terraform/modules/key-vaults/variables.tf
Due: none

update location for resource
  Terraform/environment/stage.tfvars
Due: none

update Terraform/main.tf to use backend state
  Terraform/main.tf
Due: none

add tool for migration
  Script/DB-Migration.sh
  Terraform/environment/stage.tfvars
  Terraform/main.tf
  Terraform/modules/application-register/variables.tf
  Terraform/modules/key-vaults/main.tf
  Terraform/modules/web-application/main.tf
  TodoApp.Tools/Program.cs
  TodoApp.Tools/TodoApp.Tools.csproj
  TodoApp.Tools/TodoAppContextDesignFactory.cs
  TodoApp.Tools/appsettings.json
  TodoApp.WebApp/UpdateDatabase.cs
  TodoApp.WebApp/appsettings.Development.json
  TodoApp.sln
Due: azure-pipelines-buid-deploy-web-api.yml

revert change for terraform backend
  Terraform/main.tf
Due: none

grant permission for azure devops project
  Terraform/main.tf
  Terraform/modules/key-vaults/main.tf
  Terraform/modules/key-vaults/variables.tf
  Terraform/modules/resource-group/main.tf
  Terraform/modules/resource-group/variables.tf
  Terraform/modules/web-application/main.tf
  Terraform/modules/web-application/variables.tf
  Terraform/variables.tf
Due: none

fix resource name
  Terraform/modules/key-vaults/main.tf
  Terraform/modules/web-application/main.tf
Due: none

revert file main.tf
  Terraform/main.tf
Due: none

fix object id
  Terraform/modules/key-vaults/main.tf
Due: none
