Repository bichdieu1011/todo-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-build-deploy-web-frontend.yml

azure-pipelines-buid-deploy-web-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    inputs:
      solution: $(solution)
  ...

azure-pipelines-build-deploy-web-frontend.yml:
  name: Azure Static Web Apps CI/CD
  stages:
  - stage: Buid
    jobs:
    - job: build_and_publish_job
      displayName: Build and Deploy Job
      condition: or(eq(variables['Build.Reason'], 'Manual'),or(eq(variables['Build.Reason'], 'PullRequest'),eq(variables['Build.Reason'], 'IndividualCI')))
      pool:
  ...

fix bug
  Terraform/modules/resource-group/main.tf
Due: none

change sql sku_name
  Terraform/modules/database/main.tf
Due: none

add provider for azuread
  Terraform/main.tf
Due: none

revert backend for terraform
  Terraform/main.tf
Due: none

Update azure-pipelines-buid-deploy-web-api.yml for Azure Pipelines
  azure-pipelines-buid-deploy-web-api.yml
Due: azure-pipelines-buid-deploy-web-api.yml

edit assign perrmisison for azure devops
  Terraform/modules/database/variables.tf
  Terraform/modules/resource-group/main.tf
  Terraform/modules/web-application/main.tf
Due: none

revert role assigmnet for resource group
  Terraform/modules/resource-group/main.tf
Due: none

revert change in resource-group/main.tf
  Terraform/modules/resource-group/main.tf
Due: none

Update azure-pipelines-build-deploy-web-frontend.yml for Azure Pipelines
  azure-pipelines-build-deploy-web-frontend.yml
Due: azure-pipelines-build-deploy-web-frontend.yml

remove role assignment
  Terraform/modules/key-vaults/main.tf
  Terraform/modules/web-application/main.tf
Due: none

try apply authentication flow
  TodoApp.WebApp/Client/package-lock.json
  TodoApp.WebApp/Client/package.json
  TodoApp.WebApp/Client/src/index.html
  TodoApp.WebApp/Client/src/modules/action-item/action-item.service.ts
  TodoApp.WebApp/Client/src/modules/app.component.ts
  TodoApp.WebApp/Client/src/modules/app.module.ts
  TodoApp.WebApp/Client/src/modules/app.routes.ts
  TodoApp.WebApp/Client/src/modules/category/category.service.ts
  TodoApp.WebApp/Client/src/modules/shared/services/data.services.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

update redirect url
  TodoApp.WebApp/Client/src/modules/app.module.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

update flow redirect login
  TodoApp.WebApp/Client/src/modules/app.component.ts
  TodoApp.WebApp/Client/src/modules/app.module.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

add Authorizetion header
  TodoApp.WebApp/Client/src/modules/action-item/action-item.service.ts
  TodoApp.WebApp/Client/src/modules/app.component.html
  TodoApp.WebApp/Client/src/modules/category/category.module.ts
  TodoApp.WebApp/Client/src/modules/category/category.service.ts
  TodoApp.WebApp/Client/src/modules/shared/auth/auth-config.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

set header for all request to server
  TodoApp.WebApp/Client/src/modules/action-item/action-item.component.ts
  TodoApp.WebApp/Client/src/modules/action-item/action-item.service.ts
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.ts
  TodoApp.WebApp/Client/src/modules/category/add/add-category.component.ts
  TodoApp.WebApp/Client/src/modules/category/category.component.ts
  TodoApp.WebApp/Client/src/modules/category/category.service.ts
  TodoApp.WebApp/Client/src/modules/shared/auth/auth-config.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

add appication registry for client
  Terraform/modules/application-register/main.tf
  Terraform/modules/application-register/variables.tf
  Terraform/modules/web-application/main.tf
Due: none

fix terraform
  Terraform/modules/web-application/main.tf
Due: none

fix url in main.tf
  Terraform/modules/web-application/main.tf
Due: none

implement authenticate for UI, integrate with .net api
  TodoApp.WebApp/Client/custom-webpack.config.js
  TodoApp.WebApp/Client/src/environment/environment.ts
  TodoApp.WebApp/Client/src/modules/action-item/action-item.service.ts
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.html
  TodoApp.WebApp/Client/src/modules/app.component.html
  TodoApp.WebApp/Client/src/modules/app.component.ts
  TodoApp.WebApp/Client/src/modules/app.module.ts
  TodoApp.WebApp/Client/src/modules/app.routes.ts
  TodoApp.WebApp/Client/src/modules/category/add/add-category.component.html
  TodoApp.WebApp/Client/src/modules/category/category.module.ts
  TodoApp.WebApp/Client/src/modules/category/category.service.ts
  TodoApp.WebApp/Client/src/modules/shared/auth/auth-config.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

implement backend to authen/autho by microsoft api
  TodoApp.WebApp/Controllers/ActionItemController.cs
  TodoApp.WebApp/Controllers/CategoryController.cs
  TodoApp.WebApp/Startup.cs
  TodoApp.WebApp/TodoApp.WebApp.csproj
  TodoApp.WebApp/appsettings.json
  TodoApp.WebApp/obj/TodoApp.WebApp.csproj.nuget.dgspec.json
  TodoApp.WebApp/obj/TodoApp.WebApp.csproj.nuget.g.targets
  TodoApp.WebApp/obj/project.assets.json
  TodoApp.WebApp/obj/project.nuget.cache
Due: azure-pipelines-buid-deploy-web-api.yml

add identifier url for demo_application_registry
  Terraform/modules/application-register/main.tf
Due: none

change uri of application resgitry
  Terraform/modules/application-register/main.tf
Due: none

fix CORS
  TodoApp.WebApp/Startup.cs
Due: azure-pipelines-buid-deploy-web-api.yml

fix cors
  TodoApp.WebApp/Controllers/ActionItemController.cs
  TodoApp.WebApp/Controllers/CategoryController.cs
  TodoApp.WebApp/Program.cs
  TodoApp.WebApp/Startup.cs
  TodoApp.WebApp/appsettings.json
Due: azure-pipelines-buid-deploy-web-api.yml

change Configuration, add debug
  TodoApp.WebApp/Controllers/ActionItemController.cs
  TodoApp.WebApp/Controllers/CategoryController.cs
  TodoApp.WebApp/Program.cs
  TodoApp.WebApp/Startup.cs
Due: azure-pipelines-buid-deploy-web-api.yml

revert app register url
  Terraform/modules/application-register/main.tf
Due: none

updaet config
  TodoApp.WebApp/appsettings.Development.json
  TodoApp.WebApp/appsettings.json
Due: azure-pipelines-buid-deploy-web-api.yml

edit azuread config
  TodoApp.WebApp/Program.cs
  TodoApp.WebApp/appsettings.Development.json
  TodoApp.WebApp/appsettings.json
Due: azure-pipelines-buid-deploy-web-api.yml

update config for web
  Terraform/modules/web-application/main.tf
Due: none

update api.scope configuration
  Terraform/modules/web-application/main.tf
Due: none

add column userid
  ToDoApp.UnitTests/Test/ActionItemServiceTest.cs
  ToDoApp.UnitTests/Test/CategoryServiceTest.cs
  ToDoApp.UnitTests/Test/UserServiceTest.cs
  TodoApp.Database/Entities/ActionItem.cs
  TodoApp.Database/Entities/Category.cs
  TodoApp.Database/Entities/User.cs
  TodoApp.Database/EntityConfigurations/ActionItemConfigurations.cs
  TodoApp.Database/EntityConfigurations/CategoryConfigurations.cs
  TodoApp.Database/EntityConfigurations/UserConfigurations.cs
  TodoApp.Services/ActionItemService/Models/ActionItemList.cs
  TodoApp.Services/ActionItemService/Service/ActionItemService.cs
  TodoApp.Services/ActionItemService/Service/IActionItemServices.cs
  TodoApp.Services/CategoryService/Service/CategoryService.cs
  TodoApp.Services/CategoryService/Service/ICategoryService.cs
  TodoApp.Services/TodoApp.Services.csproj
  TodoApp.Services/UserService/Service/IUserService.cs
  TodoApp.Services/UserService/Service/UserService.cs
  TodoApp.WebApp/Controllers/ActionItemController.cs
  TodoApp.WebApp/Controllers/CategoryController.cs
  TodoApp.WebApp/Identity/IIdentityService.cs
  TodoApp.WebApp/Identity/IdentityService.cs
  TodoApp.WebApp/Middleware/ExceptionMiddleware.cs
  TodoApp.WebApp/Startup.cs
  TodoApp.WebApp/TodoApp.WebApp.csproj
  TodoApp.WebApp/obj/TodoApp.WebApp.csproj.nuget.dgspec.json
  TodoApp.WebApp/obj/project.assets.json
  TodoApp.WebApp/obj/project.nuget.cache
Due: azure-pipelines-buid-deploy-web-api.yml

update configuration for api
  Terraform/modules/web-application/main.tf
Due: none

add terraform plan to build pipeline to make sure it work correct
  azure-pipelines-for-terraform.yml
Due: none

add migration script for user table
  Script/DB-Migration.sh
  TodoApp.Database/Migrations/20230626062456_addusertable.Designer.cs
  TodoApp.Database/Migrations/20230626062456_addusertable.cs
  TodoApp.WebApp/Client/.env
Due: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-build-deploy-web-frontend.yml

Update azure-pipelines-for-terraform.yml for Azure Pipelines
  azure-pipelines-for-terraform.yml
Due: none

Path conditions:
  azure-pipelines-buid-deploy-web-api.yml: any file but: TodoApp.WebApp/Client, Terraform, Script, azure-pipelines-build-deploy-web-frontend.yml, azure-pipelines-for-terraform.yml
  azure-pipelines-build-deploy-web-frontend.yml: any of: TodoApp.WebApp/Client, azure-pipelines-build-deploy-web-frontend.yml
