Repository bichdieu1011/todo-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-build-deploy-web-frontend.yml, azure-pipelines-for-terraform.yml

azure-pipelines-buid-deploy-web-api.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
    displayName: Install Nuget Tool
  - task: NuGetCommand@2
    displayName: Restore Nuget Package
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    displayName: Build Project
    inputs:
      solution: $(solution)
  ...

azure-pipelines-build-deploy-web-frontend.yml:
  name: Azure Static Web Apps CI/CD
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Buid
    jobs:
    - job: build_job
      displayName: Build Job
      condition: or(eq(variables['Build.Reason'], 'Manual'),or(eq(variables['Build.Reason'], 'PullRequest'),eq(variables['Build.Reason'], 'IndividualCI')))
  ...

azure-pipelines-for-terraform.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Buid
    jobs:
    - job: Install_and_validate_terraform
      displayName: Install, validate and publish terraform script
  ...

Update azure-pipelines-for-terraform.yml for Azure Pipelines
  azure-pipelines-for-terraform.yml
Due: azure-pipelines-for-terraform.yml

update migration script
  TodoApp.Database/EntityConfigurations/ActionItemConfigurations.cs
  TodoApp.Database/EntityConfigurations/CategoryConfigurations.cs
  TodoApp.Database/EntityConfigurations/UserConfigurations.cs
  TodoApp.Database/Migrations/20230626065300_addusertable.Designer.cs
  TodoApp.Database/Migrations/20230626065300_addusertable.cs
  TodoApp.Database/Migrations/ToDoAppContextModelSnapshot.cs
Due: azure-pipelines-buid-deploy-web-api.yml

pass keyvautname to web app configuration
  Terraform/main.tf
  Terraform/modules/key-vaults/output.tf
  Terraform/modules/web-application/variables.tf
Due: azure-pipelines-for-terraform.yml

regist identity service, http context and custom exception handler
  TodoApp.WebApp/Identity/IdentityService.cs
  TodoApp.WebApp/Startup.cs
  TodoApp.WebApp/appsettings.Development.json
Due: azure-pipelines-buid-deploy-web-api.yml

update keyvault configuration
  Terraform/modules/web-application/main.tf
Due: azure-pipelines-for-terraform.yml

fix datetime issue
  TodoApp.WebApp/Client/src/modules/action-item/action-item.module.ts
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.ts
  TodoApp.WebApp/Client/src/modules/action-item/edit/edit-action-item.component..css
  TodoApp.WebApp/Client/src/modules/action-item/edit/edit-action-item.component..html
  TodoApp.WebApp/Client/src/modules/action-item/edit/edit-action-item.component..ts
  TodoApp.WebApp/Client/src/modules/action-item/model/actionItem.ts
  TodoApp.WebApp/Client/src/modules/category/edit/edit-category.component.css
  TodoApp.WebApp/Client/src/modules/category/edit/edit-category.component.html
  TodoApp.WebApp/Client/src/modules/category/edit/edit-category.component.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

add display spinner when loading datra from api, and confirmation popup when deleting item
  TodoApp.WebApp/Client/angular.json
  TodoApp.WebApp/Client/package-lock.json
  TodoApp.WebApp/Client/package.json
  TodoApp.WebApp/Client/src/modules/action-item/action-item.component.html
  TodoApp.WebApp/Client/src/modules/action-item/action-item.component.ts
  TodoApp.WebApp/Client/src/modules/action-item/action-item.module.ts
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.html
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.ts
  TodoApp.WebApp/Client/src/modules/app.component.html
  TodoApp.WebApp/Client/src/modules/app.component.ts
  TodoApp.WebApp/Client/src/modules/app.module.ts
  TodoApp.WebApp/Client/src/modules/category/add/add-category.component.ts
  TodoApp.WebApp/Client/src/modules/category/category.component.css
  TodoApp.WebApp/Client/src/modules/category/category.component.html
  TodoApp.WebApp/Client/src/modules/category/category.component.ts
  TodoApp.WebApp/Client/src/modules/category/category.module.ts
  TodoApp.WebApp/Client/src/modules/shared/components/confirmation-dialog/confirmation.component.css
  TodoApp.WebApp/Client/src/modules/shared/components/confirmation-dialog/confirmation.component.html
  TodoApp.WebApp/Client/src/modules/shared/components/confirmation-dialog/confirmation.component.ts
  TodoApp.WebApp/Client/src/modules/shared/services/spinner.service.ts
  TodoApp.WebApp/Client/src/modules/shared/share.module.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

add file README.md
  README.md
  Terraform/README.md
Due: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-for-terraform.yml

update keyvault policy
  Terraform/main.tf
  TodoApp.Tools/appsettings.json
Due: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-for-terraform.yml

CHANGE ID OF SERVICE FOR azurerm_key_vault_access_policy
  Terraform/main.tf
  Terraform/modules/application-register/main.tf
  Terraform/modules/application-register/output.tf
Due: azure-pipelines-for-terraform.yml

add firewall rule to access sql server from azure services
  Terraform/modules/database/main.tf
Due: azure-pipelines-for-terraform.yml

update app regítration
  Terraform/modules/application-register/main.tf
Due: azure-pipelines-for-terraform.yml

add application logs
  Terraform/modules/web-application/main.tf
Due: azure-pipelines-for-terraform.yml

udpate config for static web app
  Terraform/modules/web-application/main.tf
Due: azure-pipelines-for-terraform.yml

add configration for audience api
  Terraform/main.tf
  Terraform/modules/application-register/main.tf
  Terraform/modules/application-register/variables.tf
  Terraform/modules/web-application/main.tf
  Terraform/modules/web-application/variables.tf
Due: azure-pipelines-for-terraform.yml

correct variable name
  Terraform/main.tf
Due: azure-pipelines-for-terraform.yml

add user identity object
  Script/DB-Migration.sh
  ToDoApp.UnitTests/Test/ActionItemServiceTest.cs
  ToDoApp.UnitTests/Test/CategoryServiceTest.cs
  ToDoApp.UnitTests/Test/UserServiceTest.cs
  TodoApp.Database/Entities/User.cs
  TodoApp.Database/EntityConfigurations/UserConfigurations.cs
  TodoApp.Database/Migrations/20230627082425_adduserIdentifierId.Designer.cs
  TodoApp.Database/Migrations/20230627082425_adduserIdentifierId.cs
  TodoApp.Services/ActionItemService/Service/ActionItemService.cs
  TodoApp.Services/ActionItemService/Service/IActionItemServices.cs
  TodoApp.Services/CategoryService/Service/CategoryService.cs
  TodoApp.Services/CategoryService/Service/ICategoryService.cs
  TodoApp.Services/Models/UserProfile.cs
  TodoApp.Services/UserService/Service/IUserService.cs
  TodoApp.Services/UserService/Service/UserService.cs
  TodoApp.WebApp/Controllers/ActionItemController.cs
  TodoApp.WebApp/Controllers/CategoryController.cs
  TodoApp.WebApp/Identity/IIdentityService.cs
  TodoApp.WebApp/Identity/IdentityService.cs
Due: azure-pipelines-buid-deploy-web-api.yml

fix bug to get user information
  TodoApp.WebApp/Identity/IdentityService.cs
Due: azure-pipelines-buid-deploy-web-api.yml

fix bug add new user
  TodoApp.Database/Entities/User.cs
  TodoApp.Database/EntityConfigurations/UserConfigurations.cs
  TodoApp.Database/Migrations/ToDoAppContextModelSnapshot.cs
  TodoApp.Services/UserService/Service/UserService.cs
Due: azure-pipelines-buid-deploy-web-api.yml

fix getdatetime functions
  ToDoApp.UnitTests/Test/DateTimeHelperTest.cs
  TodoApp.Services/DateTimeHelper.cs
Due: azure-pipelines-buid-deploy-web-api.yml

add dataanotation to Validate request
  TodoApp.Services/ActionItemService/Mapper/ActionItemMapper.cs
  TodoApp.Services/ActionItemService/Models/ActionItemModel.cs
  TodoApp.Services/ActionItemService/Service/ActionItemService.cs
  TodoApp.Services/CategoryService/Mapper/CategoryMapper.cs
  TodoApp.Services/CategoryService/Model/CategoryModel.cs
  TodoApp.WebApp/Client/src/modules/action-item/action-item.service.ts
  TodoApp.WebApp/Client/src/modules/action-item/add/add-action-item.component.ts
  TodoApp.WebApp/Client/src/modules/category/category.service.ts
Due: azure-pipelines-buid-deploy-web-api.yml, azure-pipelines-build-deploy-web-frontend.yml

fix add duplicated category
  TodoApp.Services/ActionItemService/Models/ActionItemModel.cs
  TodoApp.Services/CategoryService/Service/CategoryService.cs
Due: azure-pipelines-buid-deploy-web-api.yml

fix load widget
  TodoApp.WebApp/Client/src/modules/action-item/action-item.component.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

Update appsettings.Development.json
  TodoApp.WebApp/appsettings.Development.json
Due: azure-pipelines-buid-deploy-web-api.yml

Update .env
  TodoApp.WebApp/Client/.env
Due: azure-pipelines-build-deploy-web-frontend.yml

Update environment.ts
  TodoApp.WebApp/Client/src/environment/environment.ts
Due: azure-pipelines-build-deploy-web-frontend.yml

Update README.md
  README.md
Due: azure-pipelines-buid-deploy-web-api.yml

Path conditions:
  azure-pipelines-buid-deploy-web-api.yml: any file but: TodoApp.WebApp/Client, Terraform, Script, azure-pipelines-build-deploy-web-frontend.yml, azure-pipelines-for-terraform.yml
  azure-pipelines-build-deploy-web-frontend.yml: any of: TodoApp.WebApp/Client, azure-pipelines-build-deploy-web-frontend.yml
  azure-pipelines-for-terraform.yml: any of: Terraform, azure-pipelines-for-terraform.yml
